---
import '../styles/global.css';
import {link} from "../blog-util";

interface Props {
	title: string,
	ogtype?: string
}

const { title, ogtype } = Astro.props;
import favicon from "../assets/favicon.ico";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:site_name" content="Grant's Site" />
		<meta property="og:title" content={title} />
		<meta property="og:author" content="Grant Yang" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content={ogtype ?? "website"} />
		<slot name="in-head" />
		<title>{title}</title>
	</head>
	<body>
		<div id="navbar">
			<a href={link("/")}>Home</a>
			<a href={link("/blog/")}>Blog</a>
		</div>
		<div id="master-container" class="p-3 m-auto w-[85dvw] pb-12">
			<slot />
		</div>
	</body>
</html>

<style>
	@reference "tailwindcss";

	#navbar {
		@apply p-3 pl-4 w-full flex bg-purple-300 font-mono;
		a {
			@apply mr-8 no-underline text-black;
		}
	}

	html,
	body {
		@apply m-[0] w-full h-full;
	}
</style>
